body {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  text-align: center;
  background-color: antiquewhite;
}

.board {
  border-collapse: collapse;
}

.board-container {
  border: 3px solid black;
  width: fit-content;
  margin: auto;
}

.board td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: grey;
  transition: 0.3s;
}

.restart {
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
  background: none;
  height: 20px;
  font-size: 30px;
  display: inline-block;
}

.levels {
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
}

td:hover {
  background-color: lightblue;
}
